# Git
.git
.gitignore

# Docker
.docker
.dockerignore
Dockerfile
docker-compose.yml

# Development files
README.md
DEPLOYMENT.md
LICENSE

# Build files
app
tmp/
.DS_Store

# Logs
*.log

# Local environment files
.env
*.local 